h1 a, h2 a, p {
    color: #007bff;
    font-family: 'Times New Roman.';
}
body {
    padding-left: 15px;
}
.page-header {
    background-image: linear-gradient(to right, rgba(131,0,0,0), rgba(131,0,0,1));
    margin-top: 0;
    padding: 20px 20px 20px 40px;
}

.page-header h1, .page-header h1 a, .page-header h1 a:visited, .page-header h1 a:active {
    color: #025396;
    font-size: 28pt;
    text-decoration: none;
    text-align: left;
}

.page-body {
    background-color: #ffffff;
    margin-top: 0px;
    padding: 5px 5px 5px 10px;
}
.page-body a, .page-body h1, .page-body h1 a, .page-body h1 a:visited, .page-body h1 a:active, a:active, .page-body p, .page-body dl, .page-body table,  .page-body th,  .page-body tr,  .page-body td {
    color: #2b2a24;
    font-size: 14pt;
    text-decoration: none;
}

.content {
    margin-left: 30px;
}

h1, h2, h3, h4, p {
    font-family: 'Times New Roman.', cursive;
}

.user {
    color: #2b2a24;
}

.save {
    float: center;
  margin-left:360px;
}

.employee-form textarea, .employee-form input {
    width: 40%;
}

.top-menu, .top-menu:hover, .top-menu:visited {
    color: #2b2a24;
    float: right;
    font-size: 16pt;
    margin-right: 30px;
}

.employee {
    margin-bottom:5px;
    background-color:#ffffff;
    text-align=center;
}

.employee h2 a, .employee h2 a:visited , .employee a, .employee p, {
    color: #2b2a24;
      font-size: 16pt;
      margin-right: 30px;
      text-align=center;

  }
 .employee h3,  .employee h3 a:visited,  .employee h3 a:active, {

}
.table#t01 {
  border: 2px solid  #black;
  background-color: #ffffff;
  padding:  10px 10px 10px 15px;
  table-layout: fixed;
  width: 100%;
}
.table td, td a:visited, th , tr, table, {
    color: #2b2a24;
    font-size: 16pt;
    margin-left: 30px;
    text-align: center;
}
.table#t01 tr:nth-child(even) {
    background-color: #b8c3d1;
}
.table#t01 tr:nth-child(odd) {
  background-color: #b8c3d1;
}
.table#t01 th {
  color: white;
  background-color: #91908f;

}
.table#t02 {
  border: 2px solid  #black;
  background-color: #ffffff;
  padding:  10px 10px 10px 15px;
  table-layout: fixed;
  width: 100%;
