{% extends 'salary/base.html' %}
{% load render_table from django_tables2 %}
{% block content %}
<br><br>
<div class="content">
  <p> Click on Employee name for details..</p>
</div>
    <div class="table-striped">
          <table class="table-bordered" id="t01">
        
              {% render_table table %}

            <tr class="table">
              <th class="table"> </th>
            </tr>
            <tr class="table">
              <td class="table"></td>
            </tr>
         </table>
    </div>
{% endblock %}
