{% extends 'salary/base.html' %}
{% block content %}
<div class= "employee" >
<h3><a href="{% url 'edit_employee' pk=employee.pk %}"color="#fffef7">Edit Employee..<span class="glyphicon glyphicon-Pencil"></span></a></h3>
</div>
    <div class = "employee">
      {% if employee.created_date %}
      <h3 class ="employee"> {{employee.created_date}} </h3>
    </div>
    <div class="page-body">
      <table class= "table" id="t02">
        <h3> {{ employee.name }}</h3>
          <dl class="page-body">
            <dt> Name: </dt>
            <dd>{{ employee.name }}</dd>
            <dt> Sector: </dt>
            <dd>{{ employee.sector }}</dd>
            <dt> Grade: </dt>
            <dd>{{ employee.grade }}</dd>
            <dt> Hrs: </dt>
            <dd>{{employee.hrs}}</dd>
            <dt> Rate: </dt>
            <dd> {{employee.rate}} </dd>
            <dt> Salary: </dt>
            <dd> {{ employee.salary }} </dd>
          </dl>
        {{ employee.as_table }}
      </table>
      {% endif %}
    </div>
{% endblock %}
