{% extends "salary/base.html" %}
{% block content %}
<br><br>
<div>
    {% if form.errors %}
        <p  style="color:red;">Your username and password didn't match. Please try again.</p>
    {% endif %}
</div>
  <div class="content">
    <form class="form-signin" method="post" action="{% url 'login' %}">
      {% csrf_token %}
      <h1 class="h3 mb-3 font-weight-normal">Please login</h1>
      <table id="#t03" class="login_table">
        <tr>
          <td><label for="username" class="sr-only"> {{ form.username.label_tag }}</label></td>
          <td class="form-control" placeholder="Username">Username<br>{{form.username}}</td>
        </tr>
        <tr>
          <td><label for="inputPassword" class="sr-only"> {{ form.password.label_tag }}</label></td>
          <td  class="form-control" placeholder="Password" required> Password <br> {{form.password}}</td>
        </tr>
      </table>
      <div class="checkbox mb-3">
        <label>
          <input type="checkbox" value="True"> Remember me {{user.backend }} </input>
        </label>
      </div>
      <button class="btn  btn-primary" type="submit">Login</button>
      <p class="mt-5 mb-3 text-muted">&copy;Salary System 2019-2020</p>
    </form>
  </div>




{% endblock %}
